*{
    margin:0;
    padding:0;
}


.quarter {
    height: 100px;
    width: 100px;
    background-color: silver;
    border: 1px solid black;
    border-radius: 50%;
}
 
.nickel {
    height: 75px;
    width: 75px;
    background-color: silver;
    border: 1px solid black;
    border-radius: 50%;
}

.penny {
    height: 60px;
    width: 60px;
    background-color: brown;
    border: 1px solid black;
    border-radius: 50%
}

.dime {
    height: 50px;
    width: 50px;
    background-color: silver;
    border: 1px solid black;
    border-radius: 50%;
}



form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding-top: 20px;
    width: 80%;

}

button {
    background-color: aqua;
    color: black;
    width: 10%;
    padding: 10px;
    padding-top: 10px;
}

input {
    margin-bottom: 15px;
    width: 25%;

}

label {
    text-align: left;
}

select {
    width: 35%;
}